li.row {
  padding: 5px;
}

li.row .col-xs-6:first-of-type {
  font-weight: bold;
}

.row-elements {
  display: flex;
  margin-top: 20px;
}
.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.customer-row {
  width: 100%;
}
.list-unstyled {
  width: 100%;
}
.customer-phone {
  margin-left: 40px;
}

.operation-buttons .btn {
  margin-top: 5px;
  /* min-width: 210px; */
  min-width: 245px;
}

.lead-details .lead-content-section .tab-content {
  overflow: hidden;
}
.tab-content {
  padding-bottom: 150px !important;
}

.margin-top {
  margin-top: 10px;
}

.leaddetailstatus {
  display: block;
  height: 52px;
  width: 52px;
  color: white;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 10px;
  margin-top: 4px;
}

.container {
  background-size: 40px 40px;
  /* image's size */
  height: 40px;
  /* image's height */
  padding-left: 50px;
  /* image's width plus 10 px (margin between text and image) */
}

::ng-deep .modal {
  z-index: 4000;
}

.decline-btn {
  background: indianred;
  color: white;
}

.decline-btn:hover {
  background: #c95050;
}

.log-list {
  margin: 0;
  padding: 0;
}

.log-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.log-item div {
  margin-right: 16px;
}

.log-list li {
  margin: 16px;
}

.time-line ul li span.crcle-t {
  border: 4px solid #146d93;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: block;
  background-color: white;
}

.time-line ul li .tm-content {
  position: relative;
  padding-left: 16px;
  display: flex;
}

.dateformat {
  font-size: 10px;
  display: flex;
  align-items: center;
}

.time-line ul li {
  display: flex;
  align-items: center;
  margin: 32px;
}

.time-line ul li .tm-content .activity-details {
  padding-left: 32px;
  border-left: 1px solid #bebebe;
  margin-left: 32px;
}

.btn-success {
  background-color: #5ab75c;
}

.unit-slider-container {
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unit-slider-container .prev {
  font-size: 50px;
  text-decoration: none;
  padding: 0px 10px;
  cursor: pointer;
}

.unit-slider-container .next {
  font-size: 50px;
  text-decoration: none;
  padding: 0px 10px;
  cursor: pointer;
}

.lead-details {
  max-height: none !important;
  min-height: auto !important;
}

.lead-details .lead-content-section .tab-content {
  max-height: none !important;
}

.table-responsive {
  margin-top: 15px;
  overflow-x: auto !important;
}

.table-responsive th,
.table-responsive tr {
  text-align: center;
}

p.success {
  color: #5ab75c;
}

p.pending {
  color: #ffe07b;
}

.add-commission-inputs-btn {
  outline: none;
  border: none;
  color: #fff;
  background-color: green;
  padding: 5px 10px;
  font-size: 17px;
}

.save-commission-btn {
  outline: none;
  border: none;
  color: #fff;
  background-color: #2b2b2b;
  padding: 10px 20px;
}

.no-interaction-on-btn {
  pointer-events: none;
  opacity: 0.3;
  cursor: progress;
}

.add-commission-inputs-btn.remove-btn {
  background-color: red;
  margin-right: 20px;
}

.flex-end {
  text-align: initial;
}

td {
  color: #000;
}

.btn-danger {
  background-color: #c95050;
}
p-dropdown {
  width: 272px !important;
}
::ng-deep .ui-dropdown {
  display: inline-block;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  width: 100%;
}

#payment-collections th {
  text-align: center;
}

.payment-collections-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.payment-collections-actions button {
  margin-right: 18px;
}

.dropdown-menu {
  left: unset;
  right: 30px;
}

:host ::ng-deep .modal-arabic .modal-header,
:host ::ng-deep .modal-arabic .arabic-fields {
  direction: rtl;
  display: flex;
  flex-wrap: wrap;
}

:host ::ng-deep .modal-arabic input[type="date"].form-control {
  text-align: end;
}

:host ::ng-deep .modal-arabic .form-group {
  margin-bottom: 5px !important;
}

.d-block {
  display: block;
}

.margin-top-5 {
  margin-top: 5px;
}

.vip {
  color: #fff;
  background-color: rgb(223 197 41 / 95%);
  border-radius: 25px;
  width: fit-content;
  margin: 0 auto;
  padding: 2px 5px;
}
