<mat-card class="option-card">
  <mat-card-content>
    <h3 class="card__title">Manage Activity Options</h3>
    <div class="row">
      <div class="col-xs-12 margin-bottom">
        <form #form="ngForm" class="form-inline">
          <div class="form-group">
            <label for="">Action Name :</label>
            <input
              name="add_action"
              [(ngModel)]="add_action"
              type="text"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="">Status :</label>
            <select
              name="add_action_status"
              [(ngModel)]="add_action_status"
              class="form-control"
            >
            <option value="">...</option>
            <option *ngFor="let status of statuses" [value]="status.name">{{status.name}}</option>
            </select>
          </div>
          <button
          *ngIf="!current_selected_action"
          (click)="addActionToActivity()"
          class="btn btn-primary"
          type="submit"
          [disabled]="!form.form.valid"
        >
          Add
        </button>
        <button
          *ngIf="current_selected_action"
          (click)="updateActivity()"
          class="btn btn-primary"
          type="submit"
          [disabled]="!form.form.valid"
        >
          Update
        </button>
        <button
          *ngIf="current_selected_action"
          (click)="cancelUpdate()"
          class="btn btn-default"
          type="button"
        >
          Cancel
        </button>
        </form>
      </div>
      <div class="col-xs-12 margin-bottom">
        <table>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          <tr class="data" *ngFor="let action of actions">
            <td>
              {{action?.name}}
            </td>
            <td>
              {{action?.status}}
            </td>
            <td>
              <button
              class="btn btn-danger delete"
              (click)="deleteAction(action.id)"
            >
              Delete
            </button>
            <button
              class="btn btn-primary primary"
              (click)="editAction(action)"
            >
              Edit
            </button>
            </td>
          </tr>
        </table>
      </div>
      <!-- <div *ngIf="actions" class="col-xs-12">
        <ul class="list-inline">
          <li *ngFor="let action of actions" class="col-xs-3">
            <span class="action__name">{{ action.name }}</span>
            <button
              class="btn btn-danger delete"
              (click)="deleteAction(action.id)"
            >
              Delete
            </button>
          </li>
        </ul>
      </div> -->
    </div>
  </mat-card-content>
</mat-card>
