li.row {
  padding: 5px;
}

li.row .col-xs-6:first-of-type{
  font-weight: bold;
}

.operation-buttons .btn{
  margin-top: 5px;
  min-width: 230px;
}

.lead-details .lead-content-section .tab-content{
  overflow: hidden;
}

.margin-top{
  margin-top: 10px;
}

.leaddetailstatus {
  display: block;
  height: 52px;
  width: 52px;
  color: white;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 10px;
  margin-top: 4px;
}

.container {
  background-size: 40px 40px;
  /* image's size */
  height: 40px;
  /* image's height */
  padding-left: 50px;
  /* image's width plus 10 px (margin between text and image) */
}

::ng-deep .modal{
  z-index: 4000;
}

.decline-btn {
  background: indianred;
  color: white;
}

.decline-btn:hover {
  background: #c95050;
}

.log-list {
  margin: 0;
  padding: 0;
}

.log-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.log-item div {
  margin-right: 16px;
}

.log-list li {
  margin: 16px;
}

.time-line ul li span.crcle-t {
  border: 4px solid #146d93;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: block;
  background-color: white;
}

.time-line ul li .tm-content {
  position: relative;
  padding-left: 16px;
  display: flex;
}

.dateformat {
  font-size: 10px;
  display: flex;
  align-items: center;
}

.time-line ul li {
  display: flex;
  align-items: center;
  margin: 32px;
}

.time-line ul li .tm-content .activity-details {
  padding-left: 32px;
  border-left: 1px solid #bebebe;
  margin-left: 32px;
}

.btn-success {
  background-color: #5ab75c;
}



.p-ddl{
  display: block;
}
::ng-deep .p-ddl .ui-fluid .ui-dropdown {
  width: 100% !important;

}

::ng-deep .p-ddl .ui-dropdown{
  width: 100% !important;
  /* padding: 6px 0 !important; */
}
::ng-deep .p-ddl .ui-dropdown .ui-dropdown-trigger{
    display: flex !important;
    align-items: center !important;
    justify-content: center;
}
::ng-deep .p-ddl .ui-dropdown label.ui-dropdown-label {
  margin-top: 5px;
  margin-bottom: 5px;
}