.main-container {
  padding: 15px;
}

.content-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: stretch;
}

.overflow-auto {
  overflow: auto;
}
.settings-content {
  width: 100%;
  margin-left: 16px;
}

::ng-deep body .ui-panelmenu .ui-panelmenu-header > a {
  border: 1px solid #c8c8c8;
  background-color: #f4f4f4;
  color: #333333;
  padding: 0.714em 0.857em;
  font-weight: 700;
  position: static;
  font-size: 14px;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

::ng-deep
  body
  .ui-panelmenu
  .ui-panelmenu-content
  .ui-menuitem
  .ui-menuitem-link {
  padding: 0.714em 0.857em;
  color: #333333;
}

::ng-deep body .ui-panelmenu .ui-panelmenu-content .ui-menuitem {
  margin: 0;
}

::ng-deep
  body
  .ui-panelmenu
  .ui-panelmenu-header:not(.ui-state-active)
  > a:hover {
  outline: 0 none;
  border: 1px solid #dbdbdb;
  background-color: #dbdbdb;
  color: #333333;
}

::ng-deep body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a {
  border: 1px solid #007ad9;
  background-color: #007ad9;
  color: #ffffff;
}

::ng-deep body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a:hover {
  outline: 0 none;
  border: 1px solid #005b9f;
  background-color: #005b9f;
  color: #ffffff;
}

::ng-deep body .ui-panelmenu .ui-panelmenu-header > a .ui-panelmenu-icon {
  color: #848484;
}

::ng-deep
  body
  .ui-panelmenu
  .ui-panelmenu-header:not(.ui-state-active)
  > a:hover
  .ui-panelmenu-icon {
  color: #333333;
}

::ng-deep .ui-panelmenu .ui-panelmenu-content {
  padding: 0;
  margin-bottom: 0;
}

::ng-deep .content-wrapper > .sidemenu .ui-state-default {
  border: none;
}
