<div class="page-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 class="announcement-page-title">Announcement</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 announcement">
        <p class="title">New feature in Unit page!</p>
        <p class="desc">
          Now you can generate payment from inside project page, Just click on
          the more icon then choose payment generator.<br />
          For more details check the video below.
        </p>
        <div class="row">
          <div class="col-12">
            <div class="video-container">
              <video
                [src]="
                  environment.api_raw_base_url +
                  '/uploads/announce-1-payment-generator.mp4'
                "
                controls
              ></video>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr />
      </div>
    </div>
  </div>
</div>
