<section class="new-lead">
  <div class="container-fluid">
    <div class="border-sec">
      <div class="form-group">
        <form [formGroup]="documentForm" (ngSubmit)="onDocumentSubmit()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <h4>Import Units</h4>
              </div>
              <div class="form-group">
                <label for="">Select Project :</label>
                <select (change)="formSelected($event)" class="form-control" id="projectIndex" formControlName="projectIndex" name="projectIndex"
                  required>
                  <option *ngFor="let project of projects; let i = index" value={{i}}>{{project.name}}</option>
                </select>
              </div>
              <div *ngIf="enablePhase" class="form-group">
                <label for="">Select Phase</label>
                <select (change)="phaseSelected($event)" class="form-control" id="phaseId" formControlName="phaseId" name="phaseId" required>
                  <option *ngFor="let phase of projects[documentForm.value.projectIndex].phases" value={{phase.id}}>{{phase.name}}</option>
                </select>
              </div>
              <div *ngIf="enableImportFile" class="form-group">
                <label for="">Import Unit :</label>
                <input type="file" id="excel" accept=".xlsx, .xls" (change)="onFileChange($event)" required/>
              </div>
              <div class="form-group">
                <button class="btn btn-primary pull-right" type="submit" [disabled]="!enablePhase && !enableImportFile">ADD ACTION</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
