@import '../styles/helpdesk.scss';
.no-interaction {
  opacity: 0.3;
  cursor: wait;
}

.disable-all-intercation {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.4;
}

.list-unstyled.edit-spam li {
  cursor: pointer;
}

.unit .lead-details .edit-spam li {
  width: 100%;
}

.operation-container {
  border-left: 1px solid #cbcbcb;
  padding-left: 40px;
}

.margin-top {
  margin-top: 10px;
}

.dateformat {
  font-size: 10px;
  position: absolute;
  left: -132px;
  top: -6px;
  /*font-weight: bold;*/
}

/* .carousel-cell {
    position: relative;
  }
  ::ng-deep carousel {
    z-index: 9000 !important;
  }
  ::ng-deep .carousel-cells .carousel-cell img {
    object-fit: cover !important;
    border-radius: 8px;
  }
  .for__deleteImg {
    position: absolute;
    background-color: #cccccc;
    color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    top: 5px;
    right: 5px;
    border: none;
    font-size: 25px;
    line-height: 1;
    z-index: 989898;
    transition: 0.3s;
  }
  .for__deleteImg:hover {
    transition: 0.3s;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  }

  ::ng-deep .custom-dropzone-class {
    height: 200px !important;
  }

  ::ng-deep .ng-image-fullscreen-view {
    z-index: 9031 !important;
  }

  .images-container {

  } */

/* .slider {
    width: 100%;
    padding-bottom: 25%;
  }
  .slider img {
    width: 100%;
  }
  .wrapper {
    width: 100%;
    margin: 0;
  }
  @media only screen and (min-width: 1024px) {
    .wrapper {
      width: 1024px;
      margin: auto;
    }
  }

  ::ng-deep .slider {
    min-height: 1000px;
  } */

.unit-slider-container {
  position: relative;
  display: flex;
  align-items: center;
}

.unit-slider-container .prev {
  font-size: 50px;
  text-decoration: none;
  padding: 0px 10px;
  cursor: pointer;
}

.unit-slider-container .next {
  font-size: 50px;
  text-decoration: none;
  padding: 0px 10px;
  cursor: pointer;
}

.print-btn {
  position: absolute;
  z-index: 999999;
  top: 0;
  right: 0;
}

.delete-btn {
  position: absolute;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: red;
  color: #fff;
}

::ng-deep .swal2-container {
  z-index: 100000060 !important;
}

.w-100 {
  width: 100%;
}

.marign-top-10 {
  margin-top: 10px;
}


.time-line ul li {
  padding-left: 150px;
  position: relative;
  border-left: 1px solid #bebebe;
  padding-bottom: 20px;
}

.time-line ul li span.crcle-t {
  border: 4px solid gray;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: -11px;
  left: -8.5px;
  background-color: white;
}

.time-line ul li .tm-content {
  position: relative;
  border-left: 1px solid #bebebe;
  padding-left: 16px;
  top: -5px;
}

.time-line ul li .tm-content h5 {
  font-size: 16px;
  font-weight: 500;
}
.time-line ul li .tm-content p {
  color: #999;
}

.time-line {
  margin-top: 50px;
}

table{
  text-align:  center;
  th{
    text-align: center;
  }
  .preview
  {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    object-fit: cover;
  }
  td{
    vertical-align: middle;
  }
}

.approved{
  color: green;
}
.not-approved{
  color: red;
}

.pb-5{
  padding-bottom: 50px;
}

