.table_sticky_header {
  max-height: 70vh;
  overflow-y: auto;
}

.table_sticky_header .table_sticky_header_header {
  background-color: var(--color-warm-gray);

  /* Stick to the left */
  top: 0;
  position: sticky;
  /* Displayed on top of other rows when scrolling */
  z-index: 999;
}

.card-container, .balance {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.card .card-label, .balance__label {
  font-weight: 600;
}

.margin-top {
	margin-top: 20px;
}

.card {
	margin-bottom: 5px;
}

.units-chip__label {
  background-color: #0c1f2c;
  padding: 9px 12px;
  border-radius: 15px;
  cursor: pointer;
  color: aliceblue;
  margin: 5px;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  font-size: 14px;
}

.units-chip__label:hover {
  transform: scale(1.03);
}

.units-chip {
  display: flex;
  flex-wrap: wrap;
}

.margin-left-10 {
  margin-left: 10px;
}

td {
  white-space: pre;
}