@import "../styles/helpdesk.scss";
:host {
  display: block;
  width: 100%;
  overflow: auto;
}
.action {
  width: 10%;
}
.users-table {
  margin-top: 50px;
}

.users-table__title {
  margin-top: 0;
}

.dropdown-menu {
  left: unset;
  right: 0;
}

.table-responsive {
  overflow-x: unset;
}

i.fa.fa-cog {
  font-size: 3rem;
  cursor: pointer;
  margin: 10px;
}

.dropdown-menu li {
  border-bottom: 1px solid #eee;
  padding: 5px 0px;
}

.dropdown-menu li:last-child {
  border: 0px;
}

#search-btn {
  margin-left: -15px;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  padding-right: 10px;
}
.search-btn-container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
#search {
  height: 34px !important;
}

.search-btn-container button {
  margin-left: 10px;
}
.tab-btn {
  margin-right: 18px;
  background-color: #fff;
  border: 1px solid #2b2b2b;
  padding: 8px 20px;
  margin-bottom: 20px;
}

.active-tab {
  background-color: #2b2b2b;
  border: 1px solid #fff;
  color: #fff;
}
.btn.btn-default.btn-black {
  margin-bottom: unset !important;
}

.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}

.ps-0 {
  padding-left: 0;
}

.gap-1 {
  gap: 5px;
}

.bg-transparent {
  background: transparent;
}

.btn-transparent{
  background: transparent;
  cursor: pointer;
}