.calendar {
  position: relative;
  display: flex;
  justify-content: stretch;
}

.calendar > * {
  padding: 50px 20px;
}

.color_bg {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
}

/* side */
.filters-side {
  border-right: 2px solid #eee;
}

.add-event {
  display: block;

  min-width: 75%;
  max-width: 95%;

  margin: 0 auto 20px;
  padding: 5px 10px;

  background-color: #2c3e50;
  border: none;
  color: #fff;
}

.action_type_check {
  transform: scale(1.3);
  margin-right: 5px;
}

/* dialog */
.add-event-save {
  display: block;

  width: 100%;

  padding: 5px 10px;

  background-color: var(--color-navy);
  border: none;
  color: #fff;
}

/* calender */
::ng-deep .fc-daygrid-block-event .fc-event-time,
::ng-deep .fc-daygrid-block-event .fc-event-title {
  white-space: break-spaces;
  cursor: pointer;
}

::ng-deep .ui-sidebar {
  z-index: 2006 !important;
}
