.edit-btn {
  margin-left: 10px;
}

.edit-btn.export-unit.btn.btn-default {
  margin-right: 10px;
}

::ng-deep .modal {
  z-index: 4000;
}

@media only screen and (max-width: 926px) {
  ::ng-deep .dropdown-menu {
    position: initial !important;
  }
}

.static-masterplan-image {
  margin-top: 10px;
  cursor: pointer;
  /* max-height: 70vh; */
}

.new-image-container {
  /* padding: 0px 20px; */
  margin: 0 auto;
  border: 1px solid #ccc;
  margin: 10px 0px;
  border-radius: 5px;
}

.new-image-inner-container {
  margin: 0 auto;
  margin: 10px;
  border-radius: 5px;
}

.new-image-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
}

.new-project-inner {
  width: 90%;
  margin: 10px auto;
  padding: 0px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.starting-price-container,
.down-payment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;
}

span.starting-price-label,
.starting-price-label {
  color: #333;
}

span.starting-price-value,
.starting-price-value {
  font-weight: bold;
  font-size: 17px;
  display: inline-block;
}

.unit-types-container {
  margin-top: 25px;
}

.unit-type-label {
  font-weight: 500;
  font-size: 18px;
  color: #333;
}

.unit-types-value-container {
  display: flex;
  flex-wrap: wrap;
}

.unit-types-value-container button {
  margin: 10px 0px;
  margin-right: 8px;
  font-size: 13px;
  font-weight: 600;
  background-color: #fff;
}

.actions-on-projects {
  margin-top: 25px;
}

.actions-on-projects button {
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  padding: 10px 5px;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
}

.actions-on-projects .col-md-6 {
  padding: 0px !important;
  padding-left: 10px !important;
}

.view-all-units {
  background-color: #308ce7;
}

.view-static-master-plan {
  background-color: #4d851c;
}

.exports-units {
  background-color: #275c81;
}

.edit-project {
  background-color: #c08e2b;
}

.masterplan-setup {
  background-color: #000;
}

.new-project-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.new-project-container .new-project {
  flex-grow: 0;
  max-width: 33%;
}

@media (max-width: 767px) {
  .new-project-container .new-project {
    max-width: 100%;
  }
}
.table-responsive {
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
}

.new-project {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.static-masterplan-image-container {
  /* display: flex; */
  height: 100%;
  overflow-y: auto;
}

.static-masterplan-image-container .delete-btn {
  width: 100%;
  margin-top: 7px;
  border: none;
  padding: 10px;
  color: #fff;
  background-color: #ff4444;
}

::ng-deep .swal2-container {
  z-index: 99999999999999999999999999999999999999999999999;
}

@media (min-width: 768px) {
  ::ng-deep .modal-dialog {
    width: 70% !important;
  }
}

.test-img {
  width: 100%;
  max-width: 100%;
}

.print-buttons-container {
  display: flex;
  margin-bottom: 20px;
}

.print-buttons-container button {
  margin-right: 15px;
}

.delete-btn.print--flag {
  background-color: #1a9a47 !important;
}

.h-70vh {
  height: 70vh;
}

.h-100 {
  height: 100%;
}

.none {
  display: none;
}