.err-msg{
  color: red;
}

.container-wrapper .sk-circle{
  margin: 0 auto !important;
  margin-bottom: 20px !important;
}

.btn-disabled{
  box-shadow: none;
  opacity: .65;
  cursor: not-allowed;
}
