.section-border {
  border: 1px solid #e0e0e0;
}

.form-inline {
  input {
    flex: 1;
  }
  button {
    width: 150px;
  }
}

.btn-danger {
  width: 150px;
}
.data_card {
  border: 1px solid #333;
  padding: 25px;
  font-size: 16px;
  height: 100%;

  .data_view {
    cursor: pointer;
  }

  span {
    margin-inline-end: 5px;
    font-weight: bold;
  }

  p {
    margin: 0;
  }
}
