table {
  width: 100%;
}

.table-responsive {
  padding: 0;
}

.p-0 {
  padding: 0;
}

.p-15 {
  padding: 15px;
}

.m-0 {
  margin: 0;
}

.nav-link {
  cursor: pointer;
}

.nav-pills>li>a {
  color: #2b2b2b;
  border: 1px solid #2b2b2b;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  color: #f8f8f8;
  background-color: #2b2b2b;
}

.centered {
  text-align: center;
  background-color: var(--color-teal);
  color: var(--color-dark-navy);
  text-align: center;
  vertical-align: middle;
}

.center-text {
  text-align: center;
}

.level1-bg {
  background-color: #eee;
}

.level2-bg {
  background-color: #fff;
  color: black;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  border: 1px solid #000;
}

.vertical-align-center {
  vertical-align: middle !important;
}

td.status,
th.status {
  background-color: var(--color-teal);
  color: var(--color-dark-navy);
  color: #000;
  font-weight: bold;
}

.td-data-color:nth-child(even) {
  text-align: center;
  background-color: #fff;
}

.td-data-color:nth-child(odd) {
  text-align: center;
  background-color: var(--color-bright-red);
}

.dark-grey {
  /* background-color: #AFABAB !important; */
  color: #000;
  font-weight: bold;
}

.dark-grey-td td {
  background-color: #afabab !important;
  color: #000 !important;
  font-weight: bold !important;
  text-align: center;
}

.dark-grey-b {
  background-color: var(--color-warm-gray);
  color: #000;
  font-weight: 600;
}

.light-grey-b {
  background-color: #e4ead2 !important;
  color: #000 !important;
  font-weight: bold;
  text-align: center;
}

.light-orange-b {
  background-color: var(--color-teal);
  color: var(--color-dark-navy);
  font-weight: bold;
  text-align: center;
  color: #000 !important;
}

.buttons {
  width: 100%;
}

.tab-btn {
  margin-right: 18px;
  background-color: #fff;
  border: 1px solid #2b2b2b;
  padding: 8px 20px;
  margin-bottom: 20px;
  width: 100%;
}

.active-tab {
  background-color: #2b2b2b;
  border: 1px solid #fff;
  color: #fff;
}

.filters {
  border: 1px solid #333;
  margin-bottom: 20px;
}

.filter-buttons button {
  margin: 0px 18px;
  background-color: #000;
  padding: 8px 27px;
  border: 1px solid #fff;
  color: #fff;
  margin-top: 8px;
  border-radius: 14px;
}

.filter-buttons .reset-btn {
  /* background-color: ; */
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.th-nested {
  padding: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.count {
  text-align: end;
}

/* start : monthly tab */

.month-table {
  /* border: 2px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.month-head {
  width: 100%;
  font-weight: bold;
  padding: 8px;
  /* background-color: #1f1f1f; */

  background-color: var(--color-teal);
  color: var(--color-dark-navy);
}

.month-center {
  text-align: center;
}

.padding {
  padding: 8px;
}

.border {
  border: 2px solid;
}

.border-t {
  border: 2px solid;
  border-top: unset;
}

.border-l-t {
  border: 2px solid;
  border-top: unset;
  border-left: unset;
}

.border-l {
  border-left: 1px solid;
}

.border-r {
  border-right: 1px solid;
}

.month-subhead {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* background-color: #1f1f1f; */
  /* background-color: #aedde5; */
  background-color: var(--color-teal);
  color: var(--color-dark-navy);
  color: #000;
}

.subhead {
  width: 33.3%;
  font-weight: bold;
}

.flex-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-50 {
  flex: 50%;
}

.flex-25 {
  flex: 25%;
}

.value-bg {
  background-color: #535353;
}

.pb-20 {
  padding-bottom: 20px;
}

.min-w-sub {
  min-width: 85px;
}

.min-w-main {
  min-width: 170px;
}

.d-flex-center {
  display: flex;
  justify-content: center;
}

.multiselect-dropdown .dropdown-btn {
  width: 250px;
}

.d-flex-end {
  display: flex;
  justify-content: flex-end;
}

.margin-top-20 {
  margin-top: 20px;
}

.month-subhead.main .subhead {
  width: 49%;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.loader {
  width: 300px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #2b2b2b;
  letter-spacing: 0.2em;
  position: relative;
}

.loader::before,
.loader::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #2b2b2b;
  position: absolute;
  -webkit-animation: load 0.7s infinite alternate ease-in-out;
  animation: load 0.7s infinite alternate ease-in-out;
}

.loader::before {
  top: 0;
}

.loader::after {
  bottom: 0;
}

@-webkit-keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }

  50% {
    height: 8px;
    width: 40px;
  }

  100% {
    left: 285px;
    height: 30px;
    width: 15px;
  }
}

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }

  50% {
    height: 8px;
    width: 40px;
  }

  100% {
    left: 285px;
    height: 30px;
    width: 15px;
  }
}

/* data box */

.data-box-container {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

.data-box {
  flex: 1;
  margin: 16px 16px 0 16px;
  padding: 16px 32px;
  white-space: nowrap;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
  border: 0 solid transparent;
  border-radius: 0.25rem;
  font-size: 1.7rem;
  font-weight: 500;
  /* cursor: pointer; */
  background-color: white;
  box-shadow: 0 5px 20px lightgrey;
}

.data-box .stat-title {
  font-size: 16px;
}

.data-box .count-grp {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.data-box .count-grp i {
  margin-right: 10px;
  font-size: 18px;
}

.data-box .count-grp div {
  font-size: 18px;
}

.data-box .value {
  font-size: 20px;
  margin-bottom: 0;
  font-size: bold;
}

.data-box p {
  margin: 0 0 3px;
}

/* flex */
.d-flex {
  display: flex;
}

.justify-conetnt-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.overflow-scroll {
  overflow: scroll;
}

.cenetered {
  text-align: center;
  vertical-align: middle;
}

.p-0 {
  padding-bottom: 0px !important;
}

.border-sub {
  border-bottom: 1px solid #000;
  padding: 5px;
}

.w-90 {
  width: 90%;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.w3-light-grey,
.w3-hover-light-grey:hover,
.w3-light-gray,
.w3-hover-light-gray:hover {
  color: #000 !important;
  background-color: #c7c7c7 !important;
}

.w3-large {
  font-size: 18px !important;
}

.w3-container,
.w3-panel {
  padding: 0.01em 16px;
}

.w3-panel {
  margin-top: 16px;
  margin-bottom: 16px;
}

.w3-green,
.w3-hover-green:hover {
  color: #fff !important;
  background-color: #4caf50 !important;
}

.w3-red {
  color: #000 !important;
  background-color: red !important;
}

th {
  position: sticky;
  top: 0;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.campaign-wapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.campaign-container {
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  /* box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 8%);
  -webkit-box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 8%); */
}

.campaign_id {
  border-radius: 30%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #282a3c;
  background-color: rgba(40, 42, 60, 0.1);
}

.text-blue {
  color: rgb(85, 120, 235) !important;
}

.campaign_type {
  border-radius: 5px;
  padding-right: 3px;
  padding-left: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background: #597afb !important;
}

/* .col-md-6,
.col-md-7,
.col-md-8,
.col-md-9 {
  float: none !important;
} */

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mb-4 {
  margin-bottom: 2rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-4 {
  gap: 4rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.state-info-container {
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.font-danger {
  color: #fd397a !important
}

.font-info {
  color: #5578eb !important;
}

.font-success {
  color: #0ea767 !important;
}

.font-danger__stats,
.font-info__stats,
.font-success__stats {
  font-size: 1.75rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.font-success__stats {
  padding-left: 0;
}

.fa,
.stat-title,
.stat-info {
  color: #6c7293;
}

.tab-label {
  color: #6c7293;
  font-weight: 600;
  margin-inline-start: 1.5rem;
}

/* @media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: none !important;
  }
} */

/* Container */
.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.row.g-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: 0;
  margin-right: -0.25rem;
  margin-left: -0.25rem;
}

.g-2 {
  gap: 2rem
}

.col-4 {
  flex: 0 0 auto;
  width: 30%;
}

.col-3 {
  flex: 0 0 auto;
  width: 20%;
}

.h-full {
  height: 100%;
}

.rounded-lg {
  border-radius: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.py-3 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.bg-light {
  background-color: #fcfbfd !important;
}

.flex-1 {
  flex: 1 1 auto !important;
}

.text-lg {
  font-size: xxx-large;
}

.border {
  font-weight: bolder;
}

.pointer {
  cursor: pointer;
}


.sales-stats {
  margin: 8px 0;
}

.sales-stats__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: -16px -16px 0 -16px;
}


.sales-states__card {
  flex: 1;
  margin: 16px 16px 0 16px;
  padding: 16px 32px;
  white-space: nowrap;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
  border: 0 solid transparent;
  border-radius: 0.25rem;
  font-size: 1.7rem;
  font-weight: 500;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 5px 20px lightgrey;
}

.sales-states__card:nth-of-type(1) {
  border-bottom: 3px solid red;

  .card-number {
    color: red;
  }
}

.sales-states__card:nth-of-type(2) {
  border-bottom: 3px solid purple;

  .card-number {
    color: purple;
  }
}

.sales-states__card:nth-of-type(3) {
  border-bottom: 3px solid blue;

  .card-number {
    color: blue;
  }
}

.sales-states__card:nth-of-type(4) {
  border-bottom: 3px solid green;

  .card-number {
    color: green;
  }
}

.sales-states__card:nth-of-type(5) {
  border-bottom: 3px solid orange;

  .card-number {
    color: orange;
  }
}

.sales-states__card:nth-of-type(6) {
  border-bottom: 3px solid #231f4c;

  .card-number {
    color: #231f4c;
  }
}

.sales-states__card:nth-of-type(7) {
  border-bottom: 3px solid #546fc7;

  .card-number {
    color: #546fc7;
  }
}

.px-44 {
  padding-left: 44px !important;
  padding-right: 44px !important
}


.filter {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #e0e0e0
}

.my-4 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}