*:not(.fa) {
  font-family: "Cairo", sans-serif;
}

.gap-15 {
  gap: 15px;
}

.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #333;

  padding: 3px 5px;
  gap: 10px;
}

.table-row:last-of-type {
  border-bottom: 1px solid #333;
}

.files-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.files-container .file {
  padding: 8px 10px;
  border: 1px solid #999;
  border-radius: 4px;
  max-width: 100%;
}

.files-container .file .data {
  padding-left: 15px;
}

/* logs */
.activity-logs,
.activity-logs .log-row {
  position: relative;
}

.activity-logs::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 5px;
  height: calc(100% - 39px);

  background-color: var(--color-teal);
  border-radius: 1px;
}

.activity-logs .log-row {
  padding: 10px 0;
  margin-right: 45px;
}

.activity-logs .log-row::before {
  content: "";
  position: absolute;
  top: 14px;
  right: -29.5px;
  width: 14px;
  height: 14px;

  background-color: white;
  border: 4px solid var(--color-cyan);
  border-radius: 50%;
}

.log-row .row-content {
  padding-top: 5px;
}

.border-left {
  border-right: 1px solid #333;
}
