<section class="dashboard">
  <div class="dashboard-sales">
    <h1>DASHBOARD</h1>
    <div class="dashboard-header">
      <div class="dashboard-header__user">
        <span>Welcome back, {{ userData?.name }}</span>
        <a> <i class="fa fa-map-marker" aria-hidden="true"></i> Cairo, Egypt</a>
      </div>
      <div class="dashboard-header__inputs">
        <p-dropdown
          [style]="{ width: '196px' }"
          [options]="channels"
          [(ngModel)]="selectedChannel"
          (onChange)="onChannelChange()"
          [filter]="true"
          [autoWidth]="false"
          placeholder="Select Channel"
          [showClear]="true"
          optionLabel="name"
        ></p-dropdown>
        <p-dropdown
          name="year"
          [style]="{ width: '196px', margin: '0 10px', padding: '3px 0' }"
          [options]="getYears()"
          [(ngModel)]="salesFilter.year"
          (onChange)="filterDashboard()"
          [filter]="true"
          [autoWidth]="false"
          placeholder="Select Year"
          [showClear]="true"
          optionLabel="name"
        ></p-dropdown>
        <p-dropdown
          name="month"
          [style]="{ width: '196px', margin: '0 10px', padding: '3px 0' }"
          [options]="getMonths()"
          [(ngModel)]="salesFilter.month"
          (onChange)="filterDashboard()"
          [filter]="true"
          [autoWidth]="false"
          placeholder="Select Month"
          [showClear]="true"
          optionLabel="name"
        ></p-dropdown>
        <p-dropdown
          name="day"
          [style]="{ width: '196px', margin: '0 10px', padding: '3px 0' }"
          [options]="daysArr"
          [(ngModel)]="salesFilter.day"
          (onChange)="filterDashboard()"
          [filter]="true"
          [autoWidth]="false"
          placeholder="Select Day"
          [showClear]="true"
          optionLabel="name"
        ></p-dropdown>
      </div>
    </div>
    <div class="sales-pipeline">
      <span class="sales-pipeline__title">Leads Pipeline</span>
      <div class="leads-pipeline__bar"></div>
    </div>
    <div class="sales-stats">
      <div class="sales-stats__wrapper">
        <div
          *ngFor="let leadStatus of statsData?.leads_status"
          class="sales-states__card"
          (click)="onLeadStatusClicked(leadStatus)"
        >
          <div class="card-number">{{ leadStatus.count }}</div>
          <div class="card-title">{{ leadStatus.status }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="inventory-pipeline">
    <span class="inventory-pipeline__title">Sales Pipeline</span>
    <div class="sales-pipeline__bar"></div>
  </div>
  <div class="units-stats">
    <div class="units-stats__wrapper custom-colors">
      <div class="total-units">
        <div class="total-units__stats">
          <div class="units-stats__number">
            {{ statsData?.Today_reservation?.count }}
          </div>
          <div class="units-stats__title">Today</div>
          <div class="units-stats__price">
            {{ statsData?.Today_reservation?.sum | number }} EGP
          </div>
        </div>
      </div>
      <div class="available-units">
        <div class="available-units__stats">
          <div class="units-stats__number">
            {{ statsData?.MTD_reservation?.count }}
          </div>
          <div class="units-stats__title">Month To Date</div>
          <div class="units-stats__price">
            {{ statsData?.MTD_reservation?.sum | number }} EGP
          </div>
        </div>
      </div>
      <div class="sold-units">
        <div class="sold-units__stats">
          <div class="units-stats__number">
            {{ statsData?.YTD_reservation?.count }}
          </div>
          <div class="units-stats__title">Year To Date</div>
          <div class="units-stats__price">
            {{ statsData?.YTD_reservation?.sum | number }} EGP
          </div>
        </div>
      </div>
      <div class="contracted-units">
        <div class="contracted-units__stats">
          <div class="units-stats__number">
            {{ statsData?.Accumulative_reservation?.count }}
          </div>
          <div class="units-stats__title">Accumulative</div>
          <div class="units-stats__price">
            {{ statsData?.Accumulative_reservation?.sum | number }} EGP
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="project-dropdown">
    <p-dropdown
      [style]="{ width: '196px' }"
      [options]="projects"
      [(ngModel)]="selectedProject"
      (onChange)="onProjectChange()"
      [filter]="true"
      [autoWidth]="false"
      placeholder="Select Project"
      [showClear]="true"
      optionLabel="name"
    ></p-dropdown>
  </div>
  <div class="inventory-pipeline">
    <span class="inventory-pipeline__title">Inventory Pipeline</span>
    <div class="inventory-pipeline__bar"></div>
  </div>
  <div class="units-stats">
    <div class="units-stats__wrapper">
      <div class="total-units">
        <div class="total-units__stats">
          <div class="units-stats__number">
            {{ statsData?.units_total?.count }}
          </div>
          <div class="units-stats__title">TOTAL UNITS</div>
          <div class="units-stats__price">
            {{ statsData?.units_total?.sum | number }} EGP
          </div>
        </div>
        <div class="total-units__icon">
          <img
            src="assets/img/dashboard/total-units-icon.png"
            alt="total units icon"
          />
        </div>
      </div>
      <div class="available-units">
        <div class="available-units__stats">
          <div class="units-stats__number">
            {{ statsData?.units_available?.count }}
          </div>
          <div class="units-stats__title">AVAILABLE UNITS</div>
          <div class="units-stats__price">
            {{ statsData?.units_available?.sum | number }} EGP
          </div>
        </div>
        <div class="available-units__icon">
          <img
            src="assets/img/dashboard/available-units-icon.png"
            alt="available units icon"
          />
        </div>
      </div>
      <div class="sold-units">
        <div class="sold-units__stats">
          <div class="units-stats__number">
            {{ statsData?.units_sold?.count }}
          </div>
          <div class="units-stats__title">Pending</div>
          <div class="units-stats__price">
            {{ statsData?.units_sold?.sum | number }} EGP
          </div>
        </div>
        <div class="sold-units__icon">
          <img
            src="assets/img/dashboard/sold-units-icon.png"
            alt="sold units icon"
          />
        </div>
      </div>
      <div class="contracted-units">
        <div class="contracted-units__stats">
          <div class="units-stats__number">
            {{ statsData?.units_contracted?.count }}
          </div>
          <div class="units-stats__title">CONTRACTED UNITS</div>
          <div class="units-stats__price">
            {{ statsData?.units_contracted?.sum | number }} EGP
          </div>
        </div>
        <div class="contracted-units__icon">
          <img
            src="assets/img/dashboard/contracted-units-icon.png"
            alt="contracted units icon"
          />
        </div>
      </div>
      <div class="contracted-units">
        <div class="contracted-units__stats">
          <div class="units-stats__number">
            {{ statsData?.active_reservations?.count }}
          </div>
          <div class="units-stats__title">ACTIVE RESERVATION</div>
          <div class="units-stats__price">
            {{ statsData?.active_reservations?.sum | number }} EGP
          </div>
        </div>
        <div class="contracted-units__icon">
          <img
            src="assets/img/dashboard/money.png"
            alt="contracted units icon"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-activities">
    <div class="dashboard-activities__wrapper">
      <div class="activities-schedule">
        <h1 class="activities-schedule__header">ACTIVITIES SCHEDULE</h1>
        <div class="list-group__activities">
          <a
            *ngFor="let item of statsData?.leads_activity"
            class="activities-item list-group__item"
            (click)="goToLeadsWithActivity(item)"
          >
            <div class="list-item__container">
              <div>
                <i class="list-item__bullet"></i>
                <span class="list-item__name">{{ item.title }}</span>
              </div>
              <div class="item-number__container">
                <span class="item-number">{{ item.count }}</span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="latest-activities">
        <h1 class="latest-activities__header">LATEST ACTIVITIES</h1>
        <div class="activities-timeline">
          <div
            class="timeline-container"
            *ngFor="let timeline of statsData?.activities_list"
            (click)="goToLead(timeline.lead)"
          >
            <span class="timeline">{{ timeline.created_at }}</span>
            <div class="bullet-container">
              <i class="timeline-bullet"></i>
            </div>
            <div class="timeline-details">
              <span class="timeline-details__title"
                >{{ timeline.title }} ({{ timeline?.lead?.name }})</span
              >
              <p>{{ timeline?.details }}</p>
              <p>By: {{ timeline?.user?.name }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="sales-performance">
        <h1 class="sales-performance__header">SALES PERFORMANCE</h1>
        <div class="list-group__activities">
          <a class="list-group__item sales-item">
            <div class="list-item__container">
              <div>
                <i class="list-item__bullet"></i>
                <span class="list-item__name">Top Pr. Consultant</span>
              </div>
              <div class="item-user__container">
                <img
                  class="item-user__image"
                  src="assets/images/img_avatar2.png"
                />
                <span>{{ statsData?.top?.agent?.user?.name }}</span>
              </div>
            </div>
          </a>
          <a class="list-group__item sales-item">
            <div class="list-item__container">
              <div>
                <i class="list-item__bullet"></i>
                <span class="list-item__name">Top Team</span>
              </div>
              <div class="item-user__container">
                <span>{{ statsData?.top?.team?.team?.name }}</span>
              </div>
            </div>
          </a>
          <a class="list-group__item sales-item">
            <div class="list-item__container">
              <div>
                <i class="list-item__bullet"></i>
                <span class="list-item__name">Top Sales Manager</span>
              </div>
              <div class="item-user__container">
                <img
                  class="item-user__image"
                  src="assets/images/img_avatar2.png"
                />
                <span>{{ statsData?.top?.sales_manager?.director?.name }}</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="sales-charts">
    <div class="sales-charts__wrapper">
      <div class="sales-charts__single">
        <h1 class="sales-chart__header">SALES ACTIVITY</h1>
        <div
          *ngIf="
            lineChartsData.salesActivity.length > 0 &&
              lineChartsLabels.salesActivity.length > 0;
            else salesActivitySpinner
          "
        >
          <canvas
            baseChart
            width="300"
            height="300"
            [datasets]="lineChartsData.salesActivity"
            [labels]="lineChartsLabels.salesActivity"
            [options]="lineChartsOptions.salesActivity"
            [colors]="lineChartsColors.salesActivity"
            [legend]="true"
            [chartType]="'line'"
          ></canvas>
        </div>
        <ng-template #salesActivitySpinner>
          <div class="chart-spinner">
            <div class="lds-ripple">
              <div></div>
              <div></div>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="sales-charts__single">
        <h1 class="sales-chart__header">MONTHLY SALES CHART</h1>
        <div
          *ngIf="
            lineChartsData.monthlySales.length > 0 &&
              lineChartsLabels.monthlySales.length > 0;
            else monthlySalesSpinner
          "
        >
          <canvas
            baseChart
            width="300"
            height="300"
            [datasets]="lineChartsData.monthlySales"
            [labels]="lineChartsLabels.monthlySales"
            [options]="lineChartsOptions.monthlySales"
            [colors]="lineChartsColors.monthlySales"
            [legend]="true"
            [chartType]="'line'"
          ></canvas>
        </div>
        <ng-template #monthlySalesSpinner>
          <div class="chart-spinner">
            <div class="lds-ripple">
              <div></div>
              <div></div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="inventory-charts">
    <div class="inventory-charts__wrapper">
      <div class="inventory-charts__single">
        <h1 class="inventory-chart__header">
          AVAILABLE INVENTORY CHART / UNITS
        </h1>
        <div
          *ngIf="
            barChartsData.availableInventory.length > 0 &&
              barChartsLabels.availableInventory.length > 0;
            else availableInventorySpinner
          "
        >
          <canvas
            baseChart
            width="300"
            height="300"
            [datasets]="barChartsData.availableInventory"
            [labels]="barChartsLabels.availableInventory"
            [options]="barChartsOptions.availableInventory"
            [colors]="barChartsColors"
            [legend]="true"
            [chartType]="'bar'"
          ></canvas>
        </div>
        <ng-template #availableInventorySpinner>
          <div class="chart-spinner">
            <div class="lds-ripple">
              <div></div>
              <div></div>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="inventory-charts__single">
        <h1 class="inventory-chart__header">SOLD INVENTORY CHART / UNITS</h1>
        <div
          *ngIf="
            barChartsData.soldInventory.length > 0 &&
              barChartsLabels.soldInventory.length > 0;
            else soldInventorySpinner
          "
        >
          <canvas
            baseChart
            width="300"
            height="300"
            [datasets]="barChartsData.soldInventory"
            [labels]="barChartsLabels.soldInventory"
            [options]="barChartsOptions.soldInventory"
            [colors]="barChartsColors"
            [legend]="true"
            [chartType]="'bar'"
          ></canvas>
        </div>
        <ng-template #soldInventorySpinner>
          <div class="chart-spinner">
            <div class="lds-ripple">
              <div></div>
              <div></div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <!-- <div #newsElementContainer class="news-container">
    <div style="background: #228be6" class="almalnews-container">
      <p-progressBar *ngIf="newsIsLoading || almalNewsIsLoading" mode="indeterminate" [style]="{ height: '5px' }">
      </p-progressBar>
      <div class="news-header">
        <span>ALMAL NEWSPAPER</span>
        <i *ngIf="!newsIsLoading && !almalNewsIsLoading" class="material-icons reload-news"
          (click)="reloadNews('almalnews')">
          refresh
        </i>
      </div>
      <div class="news-body">
        <div class="owl-carousel">
          <div *ngFor="let almalNews of newsData?.almalnews?.item">
            <span>{{ almalNews.pubDate }}</span>
            <p>{{ almalNews.title }}</p>
            <a href="{{ almalNews.guid }}" target="_blank">Learn More at AlMAL NEWS</a>
          </div>
        </div>
      </div>
    </div>
    <div style="background: #3ac47d" class="almasryalyoum-container">
      <p-progressBar *ngIf="newsIsLoading || almasryNewsIsLoading" mode="indeterminate" [style]="{ height: '5px' }">
      </p-progressBar>
      <div class="news-header">
        <span>ALMASRY AlYOUM NEWSPAPER</span>
        <i *ngIf="!newsIsLoading && !almasryNewsIsLoading" class="material-icons reload-news"
          (click)="reloadNews('almasryalyoum')">
          refresh
        </i>
      </div>
      <div class="news-body">
        <div class="owl-carousel">
          <div *ngFor="let almasrynews of newsData?.almasryalyoum?.item">
            <p>{{ almasrynews.title }}</p>
            <a href="{{ almasrynews.link }}" target="_blank">Learn More at ALMASRY AlYOUM NEWS</a>
          </div>
        </div>
      </div>
    </div>
    <div style="background: rgb(139, 17, 139)" class="mubasher-container">
      <p-progressBar *ngIf="newsIsLoading || mubasherNewsIsLoading" mode="indeterminate" [style]="{ height: '5px' }">
      </p-progressBar>
      <div class="news-header">
        <span>Mubasher Info</span>
        <i *ngIf="!newsIsLoading && !mubasherNewsIsLoading" class="material-icons reload-news"
          (click)="reloadNews('mubasher')">
          refresh
        </i>
      </div>
      <div class="news-body">
        <div class="owl-carousel">
          <div *ngFor="let mubasherInfo of newsData?.mubasher?.item">
            <span>{{ mubasherInfo.pubDate }}</span>
            <p>{{ mubasherInfo.title }}</p>
            <a href="{{ mubasherInfo.guid }}" target="_blank">Learn More at Mubasher Info</a>
          </div>
        </div>
      </div>
    </div>
    <div style="background: orange" class="shorouknews-container">
      <p-progressBar *ngIf="newsIsLoading || shoroukNewsIsLoading" mode="indeterminate" [style]="{ height: '5px' }">
      </p-progressBar>
      <div class="news-header">
        <span>SHOROUK NEWSPAPER</span>
        <i *ngIf="!newsIsLoading && !shoroukNewsIsLoading" class="material-icons reload-news"
          (click)="reloadNews('shorouknews')">
          refresh
        </i>
      </div>
      <div class="news-body">
        <div class="owl-carousel">
          <div *ngFor="let shoroukNews of newsData?.shorouknews?.item">
            <span>{{ shoroukNews.pubDate }}</span>
            <p>{{ shoroukNews.title }}</p>
            <a href="{{ shoroukNews.guid }}" target="_blank">Learn More at SHOROUK NEWS</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="footer">
    <div class="footer-copyrights">
      &copy; {{ currentYear }} {{ envStatics.projectName }}
    </div>
    <div class="footer-upbutton">
      <a (click)="onGoPageTop()"><i class="fa fa-arrow-circle-up"></i> UP</a>
    </div>
  </div>
</section>

<!-- <div class="box">
  <div>
    Under Maintainance !
  </div>
  <p><span>Stay Tuned !</span> we`re working on a new dashboard</p>
</div> -->
