<div class="row">
  <div class="col-xs-12">
    <div class="import-container">
      <div class="import-inner-container flex-space">
        <h2 class="title">{{ title }}</h2>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <form #form="ngForm">
      <div class="form-group col-xs-6">
        <label for="">Bank Name :</label>
        <input
          name="add_bank"
          [(ngModel)]="add_bank.name"
          type="text"
          class="form-control"
          required
        />
      </div>
      <div class="form-group col-xs-6">
        <label for="">Account Number :</label>
        <input
          name="add_bank"
          [(ngModel)]="add_bank.account_number"
          type="text"
          class="form-control"
        />
      </div>
      <div class="form-group col-xs-12 center-btn">
        <button
          mat-button
          type="submit"
          class="btn"
          (click)="addBank()"
          [disabled]="!form.form.valid"
        >
          SAVE
        </button>
      </div>
    </form>
  </div>
</div>
