.card__title {
  margin-bottom: 20px;
}

.settings-icons i {
  font-size: 3rem;
  cursor: pointer;
  margin: 10px;
}

.dropdown i {
  font-family: FontAwesome !important;
}

.dropdown-menu{
  left: -133px !important;
}

.margin-bottom {
  margin-bottom: 15px;
}

.margin-top {
  margin-top: 10px;
}

button.btn.btn-primary.add-btn {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

ul li {
  margin: 10px 0px;
  padding: 10px 0px;
  border-bottom: 1px solid #cecece;
}

ul li input {
  border: 0px;
  cursor: default;
  background: #fff;
  box-shadow: none;
  font-size: 1.6rem;
}
