@import './_variables.scss';

$primary_secondary: #47474a !important;

.custom-select {
  border-color: var(--accent_main);
  color: var(--accent_main);
}
input::placeholder {
  color: var(--accent_main);
}

.input-text {
  color: var(--accent_main);
  border: 1px solid var(--accent_main);
  border-radius: 4px;
  height: 36px;
  padding-left: 10px;
  width: 25%;
  margin-right: 30px;
}
ng-select {
  width: 25%;
  margin-right: 30px;
}
@media (max-width: 500px) {
  .input-text,
  ng-select {
    width: 100%;
    margin: 10px 0;
  }
}
.input-text::placeholder {
  color: var(--accent_main);
}
.button {
  color: white;
  background-color: var(--accent_main);
  display: flex;
  justify-content: center;
  padding: 8px;
  // padding: 10px;
  border: 1px solid var(--accent_main);
  border-radius: 4px;
  min-width: 150px;
}
