$newLeadClr: #9d53ab;
$followUpsClr: #72acc5;
$onHoldClr: #b2a1a1;
$lowBudgetClr: #6b5b54;
$upcloseClr: #908fb2;
$dealLeadClr: #99bfa3;
$deadLeadClr: #633333;
$notInterestedLeadClr: #3e7e80;
$noAnswerStatusLeadClr: #374041;
$pend-followUp: red;

$newClr: #9d53ab;
$deadClr: #72acc5;
$noAnswerClr: #b2a1a1;
$followUpClr: #6b5b54;
$busyClr: #908fb2;
$noIntersetClr: #99bfa3;
$done-followUpClr: #633333;
$pend-followUpClr: #3e7e80;
$pend-meetingClr: #374041;
$pend-showingClr: #6b5b54;
$done-closingClr: #908fb2;
$done-showingClr: #99bfa3;
$done-meetingClr: #633333;
$done-closingClr: #3e7e80;
$pend-closingClr: #374041;
$not-availableClr: #374041;
$low-budgetClr: #374041;
$onHoldClrClr: #374041;
$primary_secondary: #47474a !important;
