.gap-15 {
  gap: 15px;
}

.btn-action {
  border: 0;
  background-color: transparent;
  padding: 5px;
}

.table-responsive {
    margin-top: 15px;
    overflow-x: unset;
}

.table-responsive th,
.table-responsive tr {
    text-align: center;
}

h3 {
    text-transform: uppercase;
}

.filter {
    padding: 15px;
    border: 1px solid #e0e0e0
}

button.button {
    padding: 10px;
    font-size: 14px;
}

.c-bg {
  text-transform: capitalize;
  color: #fff;
  background-color: gray !important;
}

.reset-filter {
  text-transform: capitalize;
  color: #fff;
  background-color: #414f5b !important;
}

.card {
    height: 400px;
}

.mx-auto {
    margin: 0 auto !important;
}

.px-44 {
    padding-left: 44px !important;
    padding-right: 44px !important
}

.mt-3 {
    margin-top: 3rem !important;
}

.duplicated_lead-container {
    border: 1px solid #dee2e6 !important;
    background-color: #fcfbfd !important;
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 8%);
    -webkit-box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 8%);
}

.right-boundary {
    border-right: 1px solid #dee2e6 !important;
}

.padding-none {
    padding: 0 !important;
}

.border-none {
    border: none !important;
}

.rounded {
    border-radius: 3px !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.flex-1 {
    flex: 1 1 auto !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.gap-2 {
    gap: 2rem !important;
}

.row {
    margin-right: 15px;
    margin-left: 15px;
}

.headline {
    font-weight: bold;
    font-size: 1.5rem;
}

.file-manager-container {
  padding: 2.5rem 1rem;
  display: flex;
  gap: 0.25rem;
}

.folder {
  padding: 8px 10px;
  font-weight: bold;

  background-color: #eee;

  border: 1px solid #999;
  border-radius: 4px;

  cursor: pointer;
  transition: all 0.4s ease-in-out;

  margin-bottom: 10px;
}

.folder:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.folder .icon .fa-folder {
  color: #f8d775;
  filter: drop-shadow(0px 0px 3px rgb(0 0 0 / 0.2));
}

.folder .folder-numbers {
  justify-self: end;
}

.folder .folder-actions button {
  padding: 5px;
}

.grid {
    display: grid;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gap-4 {
    gap: 1.5rem !important;
}

.w-max {
    width: max-content;
}