// @import '../../../../modules/crm/leads/styles/shared';
.section-border {
  border: 1px solid #e0e0e0;
}
.hiddenRow {
  padding: 0 !important;
  border-top: none;
}

tr .accordian-body {
  max-height: 0;
  overflow: auto;
  transition: max-height 0.3s ease-in-out;
}

tr .accordian-body.open {
  max-height: 400px;
  height: auto;
}

tr.cursor-pointer td {
  cursor: pointer;
}

tr.accordion-toggle:hover {
  background-color: #eee;
}

.time-line h2 {
  margin-top: 59px;
  font-size: 27px;
  margin-bottom: 40px;
}

.time-line ul li {
  padding-left: 150px;
  position: relative;
  border-left: 1px solid #bebebe;
  padding-bottom: 20px;
}

.time-line ul li span.crcle-t {
  border: 4px solid #146d93;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: -11px;
  left: -8.5px;
  background-color: white;
}

.time-line ul li .tm-content {
  position: relative;
  border-left: 1px solid #bebebe;
  padding-left: 16px;
  top: -5px;
}

.time-line ul li .tm-content .date {
  position: absolute;
  left: -132px;
  top: -6px;
  font-size: 10px;
}

.time-line ul li .tm-content h5 {
  font-size: 16px;
  font-weight: 500;
}

.time-line ul li .tm-content p {
  color: #999;
}

.time-line ul li:last-of-type {
  border: none;
}

.form-inline {
  input {
    flex: 1;
  }
  button {
    width: 150px;
  }
}

.btn-danger {
  width: 150px;
}

.card_name {
  color: var(--accent_main);
}

// .all {
//   padding: 0 10%;
// }
.arow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 14px 0;
}
.field {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.button {
  color: var(--accent_main);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px solid var(--accent_main);
  border-radius: 4px;
}
.input-text {
  color: var(--accent_main);
  border: 1px solid var(--accent_main);
  border-radius: 4px;
  height: 36px;
  padding-left: 10px;
  width: 100%;
}
.input-text::placeholder {
  color: var(--accent_main);
}
.separator {
  border-bottom: 1px solid rgb(184, 181, 181);
}
.header {
  font-weight: bold;
  text-align: center;
}
.submit {
  color: white;
  background-color: var(--accent_main);
  border: 1px solid var(--accent_main);
  border-radius: 4px;
  height: 36px;
  width: 40%;
}
.cancel {
  color: var(--accent_main);
  font-size: small;
  margin-top: 5px;
}

.arow.error-messages {
  flex-direction: column;
  background-color: #d9534f;
  padding: 20px;
  border-radius: 15px;

  p {
    color: #fff;
  }
}

::ng-deep {
  label {
    color: var(--accent_main) !important;
  }
}

.interestedModal.nsm-content {
  min-width: 600px !important;
}

.no_answer_count {
  font-weight: bold;
}

.no_answer_count {
  font-weight: bold;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--primary_main) !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--primary_main) !important;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: var(--primary_main) !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--primary_main) !important;
}

.pipeline_card {
  flex: 1;
  margin: 16px 16px 0 16px;
  padding: 16px 32px;
  white-space: nowrap;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
  border-radius: 0.25rem;
  font-size: 1.7rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 5px 20px lightgrey;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }

  border-bottom: 3px solid #333;
}
