<div class="d-flex mb-3">
  <draggable-content class="flex-grow-1">
    <div
      *ngFor="let card of statuses_cards"
      class="pipeline_card bordered-card"
    >
      <div class="card-number">{{ card[1] }}</div>
      <div class="card-title">{{ card[0] }}</div>
    </div>
  </draggable-content>
</div>

<div class="row m-0">
  <div class="section-border col-xs-12 p-15">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        ngModel
        (ngModelChange)="getAgentsContacts($event)"
        placeholder="search by name, email or phone"
      />
    </div>

    <div class="col-xs-12 text-right mb-3">
      <button
        class="btn btn-danger"
        (click)="deleteFunc()"
        [disabled]="!checked && !can_delete"
      >
        <i class="fa fa-trash"></i> &nbsp; Delete
      </button>
      <button class="btn" (click)="export()">
        <i class="fa fa-download"></i> Export Excel
      </button>
    </div>

    <div
      class="table-responsive col-xs-12"
      *ngIf="contactsElements.length != 0; else noReusltFound"
    >
      <table class="table">
        <tr>
          <th class="text-center">
            <input
              type="checkbox"
              [(ngModel)]="checked"
              (ngModelChange)="mainCheckboxOnChange($event)"
            />
          </th>
          <th class="text-center">ID</th>
          <th class="text-center">Name</th>
          <th class="text-center">Email</th>
          <th class="text-center">Phones</th>
          <th class="text-center">Date</th>
          <th class="text-center">Agent</th>
          <th class="text-center">Status</th>
          <th class="text-center">Comment</th>
          <th class="text-center">Action</th>
        </tr>

        <ng-container *ngFor="let contact of contactsElements; let i = index">
          <tr
            class="accordion-toggle"
            [ngClass]="{
              'cursor-pointer':
                userData.role === 'Admin' ||
                userData.role == 'Super Development' ||
                userData.role === 'Sales Manager'
            }"
            (click)="
              (userData.role === 'Admin' ||
                userData.role == 'Super Development' ||
                userData.role === 'Sales Manager') &&
                toggleAccordion(i)
            "
          >
            <td class="text-center" (click)="$event.stopPropagation()">
              <input
                type="checkbox"
                [ngModel]="contact.checked"
                (ngModelChange)="OnContactClick(i, $event)"
              />
            </td>
            <td class="text-center">{{ contact?.id }}</td>
            <td class="text-center">{{ contact?.name || "-" }}</td>
            <td class="text-center">{{ contact?.email || "-" }}</td>
            <td class="text-center">
              <p *ngFor="let phone of contact.phones">
                {{ phone.full_phone }}
              </p>
              <span *ngIf="!contact.phones || contact.phones.length == 0"
                >-</span
              >
            </td>
            <td class="text-center">
              {{ contact.created_at | date }}
            </td>
            <td class="text-center">
              {{ contact.user?.name || "-" }}
            </td>
            <td class="text-center">
              {{ contact.status?.name }}
            </td>
            <td class="text-center">
              {{ contact.comment || "-" }}
            </td>
            <td class="text-center" (click)="$event.stopPropagation()">
              <ng-container *ngIf="contact.status_id != 2">
                <button
                  mat-icon-button
                  [matMenuTriggerFor]="contactsActionsMenu"
                >
                  <img
                    class="more-options-icon"
                    src="assets/img/show-more-button-with-three-dots.svg"
                  />
                </button>
                <mat-menu #contactsActionsMenu="matMenu">
                  <button mat-menu-item (click)="checkBeforeConvert(contact)">
                    Interested
                  </button>
                  <ng-container *ngFor="let status of statuses_list">
                    <button
                      *ngIf="status.can_deleted"
                      mat-menu-item
                      (click)="convertStatusAction(contact.id, status)"
                    >
                      {{ status.name }}
                    </button>
                  </ng-container>
                  <button mat-menu-item (click)="deleteAction(contact.id)">
                    Delete
                  </button>
                </mat-menu>
              </ng-container>
            </td>
          </tr>
          <tr
            *ngIf="
              userData.role === 'Admin' ||
              userData.role == 'Super Development' ||
              userData.role === 'Sales Manager'
            "
          >
            <td colspan="9" class="hiddenRow">
              <div
                class="accordian-body"
                [ngClass]="{ open: activeAccordionIndex === i }"
              >
                <div class="time-line p-15">
                  <ul class="list-unstyled">
                    <li *ngFor="let log of contact.logs">
                      <span class="crcle-t"></span>
                      <div class="tm-content">
                        <div class="date">
                          {{ log.created_at | date : "medium" }}
                        </div>
                        <h5>{{ log.type }}</h5>
                        <p>
                          {{ log.details }}
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>

    <div class="col-md-12 pagination-center mt-3" *ngIf="contactsRaw">
      <ngb-pagination
        [collectionSize]="contactsRaw?.last_page * 10"
        [(page)]="currentPage"
        [maxSize]="5"
        [rotate]="true"
        [ellipses]="true"
        [boundaryLinks]="true"
        (pageChange)="pageChange($event)"
        [size]="'lg'"
      >
      </ngb-pagination>
    </div>
  </div>
</div>

<ng-template #noReusltFound>
  <div class="col-xs-12 d-flex justify-content-center align-items-center h-100">
    <h2 class="text-capitalize text-warning">no results found</h2>
  </div>
</ng-template>
