<section class="eoi-table">
  <div class="container-fluid">
    <!-- <h2>EOI</h2> -->
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-7">
          <h2>EOI</h2>
        </div>
        <div class="col-xs-5 import-container">
          <!-- <div class="import-inner-container">
            <button class="btn btn-default pull-right import-btn" (click)="eoiModal.open()">Import Eoi</button>
          </div>
          <div class="import-inner-container">
            <a class="btn btn-default pull-right import-btn" [href]="export_eoi">Export Eoi</a>
          </div> -->
          <ng-container *ngIf="userProfile.is_full_access">
            <div class="import-inner-container">
              <button
                class="btn btn-default pull-right import-btn"
                (click)="eoiModal.open()"
              >
                Import Eoi
              </button>
            </div>
            <div class="import-inner-container">
              <a
                class="btn btn-default pull-right import-btn"
                (click)="exportEoi()"
                >Export All Eois</a
              >
            </div>
            <div class="import-inner-container">
              <a
                class="btn btn-default pull-right import-btn"
                (click)="exportTable()"
                >Export Filtered Eois</a
              >
            </div>
          </ng-container>
          <div class="import-inner-container">
            <button
              class="btn btn-default pull-right import-btn"
              [routerLink]="['/pages/eoi', 0]"
            >
              Add Eoi
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="proj-details">
      <div class="row">
        <div class="col-md-12">
          <div class="filter">
            <h3>Advanced Search</h3>
            <form [formGroup]="filterForm" (ngSubmit)="filterEois()">
              <div class="search-form-inputs">
                <div class="form-group filter-inputs">
                  <label for="">EOI Number :</label>
                  <input
                    type="text"
                    name="eoi_number"
                    id="eoi_number"
                    class="form-control"
                    formControlName="eoi_number"
                  />
                </div>
                <div class="form-group filter-inputs">
                  <label for="">Lead Name / Phone :</label>
                  <input
                    type="text"
                    name="lead_search"
                    id="lead_search"
                    class="form-control"
                    formControlName="lead_search"
                  />
                </div>
                <div class="form-group filter-inputs">
                  <label for="">Status :</label>
                  <ng-select
                    placeholder="Select Status"
                    formControlName="status"
                    id="status"
                  >
                    <ng-option value="">All</ng-option>
                    <ng-option
                      *ngFor="let status of eoi_statuses"
                      [value]="status.id"
                    >
                      {{ status.name }}
                    </ng-option>
                  </ng-select>
                </div>
                <div class="form-group filter-inputs agents">
                  <label for="">Agent :</label>
                  <ng-select
                    placeholder="Select Agent"
                    formControlName="user_id"
                    id="user_id"
                    [closeOnSelect]="false"
                    [items]="searcedAgents"
                    bindLabel="name"
                    bindValue="id"
                  > 
                  </ng-select>
                  <!-- <p-dropdown
                    formControlName="user_id"
                    class="p-ddl"
                    [options]="agents"
                    [filter]="true"
                    placeholder="Select Agents"
                    [autoWidth]="false"
                    [showClear]="true"
                    optionLabel="name"
                  >
                  </p-dropdown> -->
                  <!-- <select class="form-control" formControlName="user_id" id="user_id">
                    <option value="" disabled="true" [selected]="true">Agent</option>
                    <option *ngFor="let agent of agents" [value]="agent.id">{{agent.name}}</option>
                  </select> -->
                </div>
                <div *ngIf="projects" class="form-group filter-inputs">
                  <label for="">Project :</label>
                  <ng-select
                    placeholder="Select Project"
                    formControlName="project_id"
                    id="project"
                  >
                    <ng-option *ngFor="let p of projects" [value]="p.id">
                      {{ p.name }}
                    </ng-option>
                  </ng-select>
                </div>
                <button type="submit" class="button c-bg">GO</button>
                <button
                  (click)="resetFilters()"
                  type="button"
                  class="button reset-por"
                >
                  RESET
                </button>
                <!-- <div class="border-form text-center margin-top">
                </div>
                <div class="border-form text-center">
                </div> -->
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-12">
          <div class="table table-responsive">
            <table *ngIf="eoisData" class="table table-bordered">
              <tr>
                <th>EOI Serial</th>
                <th>EOI Number</th>
                <th>Lead Name</th>
                <th>Agent</th>
                <th>Interested Type</th>
                <th>Interested Area From</th>
                <th>Interested Area To</th>
                <th>Phase</th>
                <th>Payment Type</th>
                <!-- <th>Unit </th> -->
                <th>EOI fees</th>
                <th>Project Name</th>
                <th>EOI Status</th>
                <th>Reservation Status</th>
                <th>Source</th>
                <th>Broker</th>
                <th>Broker Incentive</th>
                <th>Created At</th>
                <th>EOI date</th>
                <th>Admin Confirmation</th>
                <th class="action">Action</th>
              </tr>
              <tr
                [ngClass]="{
                  'bg-success': eoi.status == 1,
                  'bg-rent-success ': eoi.status == 2,
                  'bg-danger': eoi.status == -1 || eoi.status == -2
                }"
                *ngFor="let eoi of eoisData"
              >
                <td>#{{ eoi.id }}</td>
                <td>{{ eoi.serial }}</td>
                <td>
                  <a
                    class="pointer"
                    (click)="redirectToLeadDetails(eoi?.lead_id)"
                    >{{ eoi.lead_name }}</a
                  >
                </td>
                <td>{{ eoi.user.name }}</td>
                <td>{{ eoi.interested_type }}</td>
                <th>{{ eoi.interested_area_from }}</th>
                <th>{{ eoi.interested_area_to }}</th>
                <th>{{ eoi.phase }}</th>
                <td>{{ eoi.payment_type }}</td>
                <td>{{ eoi.eoi_value | currency : " " : false : "1.0-0" }}</td>
                <td>{{ eoi.project?.name }}</td>
                <td>{{ eoi.status_text }}</td>
                <td>{{ eoi.linked_reservation_status_text }}</td>
                <td>{{ eoi.lead_source || "-" }}</td>
                <td>
                  <span *ngIf="eoi.lead_source == 'Broker'">
                    {{ eoi.broker?.name || "-" }}
                  </span>
                  <span *ngIf="eoi.lead_source != 'Broker'">
                    {{ "-" }}
                  </span>
                </td>
                <td>
                  <span *ngIf="eoi.lead_source == 'Broker'">
                    {{ eoi.broker_incentive?.name || "-" }}
                  </span>
                  <span *ngIf="eoi.lead_source != 'Broker'">
                    {{ "-" }}
                  </span>
                </td>
                <td>{{ eoi.created_at | date : "mediumDate" }}</td>
                <td>{{ eoi.selling_date | date : "mediumDate" }}</td>
                <td>{{ eoi?.admin_confirmation }}</td>
                <td class="action">
                  <div class="dropdown" dropdown>
                    <img
                      class="more-options-icon"
                      src="assets/img/show-more-button-with-three-dots.svg"
                      dropdown-open
                    />
                    <ul class="dropdown-menu">
                      <li (click)="goToEOIView(eoi.id)">
                        <a>view</a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-xs-12 text-center">
            <ngb-pagination
              [collectionSize]="eois_raw_data?.last_page * 10"
              [(page)]="pageTest"
              [maxSize]="5"
              [rotate]="true"
              [ellipses]="true"
              [boundaryLinks]="true"
              (pageChange)="pageChange($event)"
              [size]="'lg'"
            >
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<modal
  #eoiModal
  title="Import EOIs"
  submitButtonLabel="submit"
  modalClass="modal-md"
  [hideCloseButton]="true"
  [closeOnOutsideClick]="true"
  (onSubmit)="uploadExcelMethod(eoiModal)"
>
  <modal-header> </modal-header>
  <modal-content>
    <div class="row">
      <div class="form-group col-xs-6">
        <form
          class="form-group btn-group-files pull-right"
          [formGroup]="uploadExcel"
        >
          <input
            type="file"
            accept=".xlsx, .xls"
            class="margin-left"
            id="file"
            (change)="handleUploadExcel($event)"
          />
        </form>
      </div>
      <!-- <div class="form-group col-xs-6">
        <div class="form-group">
          <a class="btn btn-default pull-right"
            href="https://api.equity.com.eg/uploads/eois/example/eoi_example.xlsx">Download Import Example</a>
        </div>
      </div> -->
    </div>
  </modal-content>
  <modal-footer>
    <button class="btn btn-secondary" (click)="eoiModal.close()">close</button>
  </modal-footer>
</modal>
