/* globals */
*:not(.fa) {
  font-family: "Cairo", sans-serif;
}
.gap-15 {
  gap: 15px;
}

.btn-action {
  border: 0;
  background-color: transparent;
  padding: 5px;
}
/* file manager */
.file-manager-container {
  padding: 2.5rem 1rem;
  display: flex;
  gap: 0.25rem;
}

.folder {
  padding: 8px 10px;
  font-weight: bold;

  background-color: #eee;

  border: 1px solid #999;
  border-radius: 4px;

  cursor: pointer;
  transition: all 0.4s ease-in-out;

  margin-bottom: 10px;
}

.folder:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.folder .icon .fa-folder {
  color: #f8d775;
  filter: drop-shadow(0px 0px 3px rgb(0 0 0 / 0.2));
}

.folder .folder-numbers {
  justify-self: end;
}

.folder .folder-actions button {
  padding: 5px;
}
