.action {
  width: 10%;
}

.dropdown-menu {
  left: unset;
  right: 0;
}

.table-responsive {
  overflow-x: unset;
}

.reset-filter {
  background-color: #dc3838;
}

.form-group {
  width: 90%;
  margin: 0 auto;
}

.project-inner .filter label,
.add-new-project .filter label,
.eoi-table .filter label,
.unit-types-table .filter label,
.payment-plans-table .filter label,
.rf-tble .filter label,
.users-table .filter label,
.teams-table .filter label {
  margin-left: 0px;
  margin-bottom: 0px !important;
}

.form-group {
  margin-bottom: 15px;
}

h6 {
  text-align: left;
  margin-bottom: 1.5rem;
}

h6 small {
  font-size: 90%;
}

.label-left {
  display: block !important;
  text-align: left;
}

.no-interaction {
  opacity: 0.3;
  cursor: wait;
}

textarea {
  resize: none;
}

.leadname {
  cursor: pointer;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.filter-form {
  display: flex;
  flex-direction: column;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.search-form-inputs {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.search-buttons {
  flex-basis: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form-group {
  margin: 10px;
  width: auto;
}

.unit-serial-input {
  width: 100px !important;
}

.search-buttons div {
  /* width: 200px; */
  margin-right: 10px;
}

.project-inner .filter .border-form button.button,
.add-new-project .filter .border-form button.button,
.eoi-table .filter .border-form button.button,
.unit-types-table .filter .border-form button.button,
.payment-plans-table .filter .border-form button.button,
.rf-tble .filter .border-form button.button,
.users-table .filter .border-form button.button,
.teams-table .filter .border-form button.button {
  padding: 10px;
  font-size: 14px;
}

.c-bg {
  background-color: gray!important;
}

.reset-filter {
  background-color: #414f5b !important;
}

.edit-btn.export-unit.btn.btn-default.pull-right {
  margin-bottom: 25px;
  border-radius: 0px !important;
}

i.fa.fa-cog {
  font-size: 3rem;
  cursor: pointer;
  margin: 10px;
}

.dropdown-menu li {
  border-bottom: 1px solid #eee;
  padding: 5px 0px;
}

.dropdown-menu li:last-child {
  border: 0px;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.toggle-container p {
  margin: 0px;
}

.price-row .form-inline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.price-row .form-inline label {
  margin-right: 20px;
}

.price-label {
  margin-right: 40px !important;
}

.price-row .form-inline input {
  margin-right: 10px;
}

.cfo_pin_wrapper {
  margin-top: 25px;
}

.search-btn-container {
  display: flex;
}

.search-btn-container button {
  margin-left: 10px;
}

label {
  display: block;
  text-align: left;
}


.settings-icons i {
  font-size: 3rem;
  cursor: pointer;
  margin: 10px;
}

.dropdown i {
  font-family: FontAwesome !important;
}

.dropdown-menu{
  left: -133px !important;
}