.image-zoom-modal-overlay {
  z-index: 12998;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-zoom-modal {
  z-index: 12999;

  position: relative;

  max-width: 90vw;
  max-height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-zoom-modal img {
  max-width: 100%;
  max-height: 100%;
}

.img-magnifier-glass {
  position: absolute;
  cursor: none;
  border: 3px solid #000;

  background-repeat: no-repeat;
}

.img-magnifier-glass.hidden {
  display: none;
}
