body {
    background: #fff;
    color: gray;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .container {
    /* position: absolute; */
    top: 50%;
    width: 100%;
    min-width: 320px;
    margin: -30px 0 0;
  }
  .container h1 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  .container h1 a {
    display: inline-block;
    background: #000;
    background: rgba(0, 0, 0, 0.05);
    padding: 10px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: gray;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  .container h1 a:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  .container p {
    margin-bottom: 30px;
    color: gray;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 20px;
    text-align: center;
  }
  .container .social-media ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .container .social-media ul li {
    display: inline-block;
    margin: 0 16px 0 0;
    font-size: 14px;
  }
  .container .social-media ul li:last-child {
    margin: 0;
  }
  .container .social-media ul li a {
    display: block;
    width: 16px;
    color: #fff;
  }
  
  .outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .page-container {
    background: #eee;
    min-height: calc(100vh - 7.5vh);
    /* padding-top: 10vh; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .coming-soon-animation-container {
    /* position: relative; */
  }
  
  /** Animation Scene */
  .scene {
    position: absolute;
      width: 400px;
      height: 200px;
      top: 50%;
      margin-top: 100px;
      overflow: hidden;
      margin: 0 auto;
      top: 250px;
      display: block;
  }
  .scene:after {
    content: " ";
    left: 0;
    top: 0;
    bottom: 0;
    width: 100px;
    position: absolute;
  }
  .scene:before {
    content: " ";
    right: 0;
    top: 0;
    bottom: 0;
    width: 100px;
    position: absolute;
    z-index: 10;
  }
  .scene em {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 55px;
    right: 0;
    text-align: center;
    font-style: normal;
    font-family: Proxima Nova;
    color: #0bb4a6;
    letter-spacing: 0.2em;
  }
  
  .car {
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -30px;
    animation: peel 4s ease-in-out forwards infinite, bump 0.2s linear infinite;
  }
  
  .poof {
    position: absolute;
    top: 110px;
    left: 160px;
    margin-left: -30px;
    opacity: 0;
    animation: poof 4s ease-in-out forwards infinite;
  }
  
  .sign {
    position: absolute;
    right: -40px;
    top: 30px;
    animation: sign 4s ease-in-out forwards infinite;
  }
  
  @keyframes sign {
    0% {
      right: -40px;
    }
    30% {
      right: 80px;
    }
    70% {
      right: 80px;
    }
    100% {
      right: 100%;
    }
  }
  @keyframes peel {
    0% {
      transform: rotate(0deg);
    }
    70% {
      transform: rotate(0deg);
    }
    73% {
      transform: rotate(-9deg);
    }
    95% {
      transform: rotate(-9deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes poof {
    0% {
      opacity: 0;
      transform: scale(1);
    }
    70% {
      opacity: 0;
      left: 170px;
      transform: scale(1);
    }
    76% {
      opacity: 1;
      transform: scale(1.3);
      left: 160px;
    }
    95% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: scale(1.3);
    }
  }
  @keyframes bump {
    0% {
      top: 70px;
    }
    50% {
      top: 70px;
    }
    60% {
      top: 69px;
    }
    100% {
      top: 70px;
    }
  }