<div class="page-container">
  <div class="coming-soon-animation-container">
    <div class="scene">
      <img
        class="car"
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/car.svg"
        alt=""
      />
      <img
        class="poof"
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/poof.svg"
        alt=""
      />
      <img
        class="sign"
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/sign.svg"
        alt=""
      />
      <em>LOADING...</em>
    </div>
  </div>
  <div class="outer-container">
    <div class="container">
      <h1>
        <a>{{ name }}</a>
        <span>i</span>
        <span> s</span>
        <span>&nbsp;</span>
        <span> c</span>
        <span> o</span>
        <span> m</span>
        <span> i</span>
        <span> n</span>
        <span> g</span>
        <span>&nbsp;</span>
        <span> s</span>
        <span> o</span>
        <span> o</span>
        <span> n</span>
        <span> !</span>
      </h1>
      <p>Please check back with us in the near future for updates.</p>
    </div>
  </div>
</div>
