.card-section {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.log-list {
  margin: 0;
  padding: 0;
}

.log-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.log-item div {
  margin-right: 16px;
}

.log-list li {
  margin: 16px;
}

.time-line ul li span.crcle-t {
  border: 4px solid #146d93;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: block;
  background-color: white;
}

.time-line ul li .tm-content {
  position: relative;
  padding-left: 16px;
  display: flex;
}

.dateformat {
  font-size: 10px;
  display: flex;
  align-items: center;
}

.time-line ul li {
  display: flex;
  align-items: center;
  margin: 32px;
}

.time-line ul li .tm-content .activity-details {
  padding-left: 32px;
  border-left: 1px solid #bebebe;
  margin-left: 32px;
}
