/* You can add global styles to this file, and also import other style files */

/* @import '~ng-gallery/styles/ng-gallery'; */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~nouislider/distribute/nouislider.min.css";
@import "~ngx-lightbox/lightbox.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@ngx-select-v1/ngx-select-v1/themes/default.theme.css";

@import "../node_modules/angular-calendar/css/angular-calendar.css";

:root {
  --color-teal: #6cccb9;
  --color-orange: #ff9e6d;
  --color-cyan: #6cc5e9;
  --color-navy: #000;
  --color-warm-gray: #d7d2cb;
  --total: 4;
  --offset-width: 10vw;
  --easing: cubic-bezier(0.8, 0, 0.2, 1);
  --duration: 0.6s;
}
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: var(--color-orange);
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}

body {
  scrollbar-color: var(--color-orange) var(--color-navy);
  scrollbar-width: thin;
}

.py-md-6 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.lato {
  font-family: "Lato", sans-serif, fontaweomse;
}

.quicksand {
  font-family: "Quicksand";
}

.dropdown-list {
  position: static !important;
}

.dropdown-list .arrow-up {
  display: none;
}
div.ngui-auto-complete-wrapper {
  display: inline-block !important;
  width: 100%;
}
.ngx-pagination {
  padding: 0;
}

.mat-form-field-underline {
  background-color: none !important;
}

.mat-tooltip.tooltip {
  background-color: darkblue;
  font-size: 25px;
}

::ng-deep .mat-tooltip {
  background: red !important;
}

::ng-deep .swal2-container,
.swal2-container {
  z-index: 4000 !important;
}

.splash-logo {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  position: absolute;
  width: 55px;
}

.splash-loader,
.splash-loader:before,
.splash-loader:after {
  left: 50%;
  top: 50%;
  margin-left: -45px;
  margin-top: -45px;
  position: absolute;
  vertical-align: middle;
  /* background: black; */
  background: var(--color-navy);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  z-index: 1;
}

.splash-loader:before {
  content: "";
  animation: bounce 1.5s infinite;
}
.splash-loader:after {
  content: "";
  animation: bounce 1.5s -0.4s infinite;
}

.swal2-container {
  z-index: 10060 !important;
}

@keyframes bounce {
  0% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

.splash-screen {
  background-color: #f3f3f3;
  height: 100%;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: gray;
}

.pagination > li > a,
.pagination > li > span {
  color: gray;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: gray;
  border-color: gray;
}

/* ----------------- FW ---------------------- */
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.text-left {
  text-align: left !important;
}

.btn-light {
  color: #212529 !important;
  background-color: #f8f9fa !important;
  border-color: #f8f9fa !important;
}

.btn-dark {
  color: #fff !important;
  background-color: #343a40 !important;
  border-color: #343a40 !important;
}

.border {
  border: 1px solid #dee2e6 !important;
}

/* .btn {
  box-shadow: none !important;
  padding: 0.375rem 0.75rem !important;
  text-transform: capitalize !important;
  font-size: 1rem !important;
} */

.table-responsive {
  overflow-x: unset !important;
}

.ngxImageZoomContainer {
  width: 100% !important;
  height: auto !important;
  max-height: 100%;
}
.ngxImageZoomContainer img {
  max-width: 100%;
  max-height: 100%;
}

.ng-dropdown-panel {
  z-index: 99999 !important;
}
/* globals */
.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

/* dimentions */
.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}
/* general classes */

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-end {
  justify-content: end;
}

.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: start;
}
.align-items-end {
  align-items: end;
}
.align-items-stretch {
  align-items: stretch;
}

/* borders */
.rounded {
  border-radius: 0.5rem;
}

/* spaces */

.gap-30 {
  gap: 30px;
}

.h-100 {
  height: 100%;
}

.m-0 {
  margin: 0;
}

.m-3 {
  margin-top: 1.5rem;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.me-2 {
  margin-right: 1.5rem;
}

.ms-1 {
  margin-left: 0.75rem;
}

.ms-2 {
  margin-left: 1.5rem;
}

.p-0 {
  padding: 0;
}

.px-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.pe-15 {
  padding-right: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.p-15 {
  padding: 15px;
}

/* typography */

.text-white {
  color: #fff;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}
.fs-20 {
  font-size: 20px;
}
.fw-bold {
  font-weight: bold;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.me-8 {
  margin-right: 8px;
}

.ps-0 {
  padding-left: 0;
}
.pt-0 {
  padding-top: 0;
}
.pb-0 {
  padding-bottom: 0;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pe-8 {
  padding-right: 8px;
}

.ps-8 {
  padding-left: 8px;
}

.p-4 {
  padding: 4px;
}

.pe-4 {
  padding-right: 4px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

/* ::ng-deep modal[title="Media"] .modal-dialog {
  width: 90vw;
} */

.iti {
  display: block !important;
}

.form-control {
  border-radius: 4px !important;
}

.required {
  color: red;
  margin-inline-start: 4px !important;
}