.action{
    width: 10%;
  }
  
  .dropdown-menu{
    left: unset;
    right: 0;
  }
  
  .table-responsive{
    overflow-x: unset;
  }
  
  h6 {
    text-align: left;
    margin-bottom: 1.5rem;
  }
  
  h6 small{
    font-size: 90%;
  }
  
  .dropdown span{
    display: block;
    text-align: center;
  }
  
  .margin-top{
    margin-top: 20px;
  }
  
  .form-group{
    width: 90%;
    margin: 0 auto;
  }
  
  .project-inner .filter label, .add-new-project .filter label, .eoi-table .filter label, .unit-types-table .filter label, .payment-plans-table .filter label, .rf-tble .filter label, .users-table .filter label, .teams-table .filter label{
    margin-left: 0px;
    margin-bottom: 0px !important;
  }
  
  .form-group{
      margin-bottom: 15px;
  }
  
  .reset-filter{
    background-color: #dc3838;
  }
  
  .disable-all-intercation{
    pointer-events: none;
    cursor: not-allowed;
    opacity: .4;
  }
  
  .import-container {
    display: flex;
    align-items: center;
  }
  
  .import-btn {
    margin-top: 22px;
  }
  
  .import-inner-container {
    width: 90%;
    margin: 0 auto;
  }
  
  .no-interaction {
    opacity: .3;
    cursor: wait;
  }
  
  .temp-blocked-by{
    font-size: 1.2rem;
  }
  
  textarea {
    resize: none;
  }
  
  .top-header-container{
    display: flex;
    align-items: center;
  }
  
  i.fa.fa-cog {
    font-size: 3rem;
    cursor: pointer;
    margin: 10px;
  }
  
  .dropdown-menu li {
    border-bottom: 1px solid #eee;
    padding: 5px 0px;
  }
  
  .dropdown-menu li:last-child{
    border: 0px;
  }
  
  .toggle-container{
    display: flex;
    align-items: center;
  }
  
  .toggle-container p {
    margin: 0px;
  }
  
  .import-container{
    display: flex;
    justify-content: flex-end;
  }
  
  .form-group.price-range-container{
    margin-bottom: 10px;
  }
  
  .form-group.price-range-container .form-control{
    border: none;
    box-shadow: none;
  }
  
  .ranges-container{
    display: flex;
    justify-content: space-between;
  }
  


@media only screen and (max-width: 926px) {
  ::ng-deep .dropdown-menu {
    position: initial !important;
  }
}

.w-90 {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}